<!DOCTYPE html>

<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <h1>Bookymarky</h1>
  <h2>Probably the best bookmark site on the internetz</h2>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
